## Task 1: Lists, Dictionaries, Tuples

In [12]:
""" Task 1: Creaye a list: nums = [3, 5, 7, 8, 12], make another list named ‘cubes’ and append the cubes of the given list ‘nums’
in this list and print it."""

# Declaring a list
nums = [3, 5, 7, 8, 12]

# Making cubes
nums = [x**3 for x in nums]
nums

[27, 125, 343, 512, 1728]

In [19]:
"""
Task 2: Create an empty dictionary: dict = {}, add the following data to the dictionary: ‘parrot’: 2, ‘goat’: 4, ‘spider’: 8, ‘crab’:
10 as key value pairs.
"""

# Declaring empty dict
animals_legs = dict()

# Defining data dict
animals, legs = ['parrot', 'goat', 'spider', 'crab'], [2, 4, 8, 10]

# Overwriting animal_legs dict with data
animal_legs = dict(zip(animals, legs))
animal_legs

{'parrot': 2, 'goat': 4, 'spider': 8, 'crab': 10}

In [21]:
import sys
stdout = sys.stdout

"""
Task 3: Use the ‘items’ method to loop over the dictionary (dict) and print the animals and their corresponding legs. Sum
the legs of each animal, and print the total at the end.
"""

# Declaring dict and count
animals_legs = {'parrot': 2, 'goat': 4, 'spider': 8, 'crab': 10}
count = 0

for _ in animals_legs.items():
    print(f'animal: {_[0]} has {_[1]} legs')
    count += _[1]

print(f'Total legs count: {count}')

animal: parrot has 2 legs
animal: goat has 4 legs
animal: spider has 8 legs
animal: crab has 10 legs
Total legs count: 24

In [26]:
"""
Task 4: Create a tuple: A = (3, 9, 4, [5, 6]), change the value in the list from ‘5’ to ‘8’.
"""

A = (3, 9, 4, [5, 6])
A[-1][0] = 8
print(A)

"""
Task 5: Delete the tuple A.
"""
del(A)

(3, 9, 4, [8, 6])

In [32]:
"""
Task 6: Create another tuple: B = (‘a’, ‘p’, ‘p’, ‘l’, ‘e’), print the number of occurrences of ‘p’ in the tuple.
"""
B = ('a', 'p', 'p', 'l', 'e')
print(f'"p" occurred {B.count("p")} times')

"""
Task 7: Print the index of ‘l’ in the tuple.
"""
print(f'the index of "l" in B is: {B.index("l")}')

"p" occurred 2 times
the index of "l" in B is: 3

## Task 2: Numpy

In [2]:
import numpy as np
"""
Task 1: A =
1 2 3 4
5 6 7 8
9 10 11 12
z = np.array([1, 0, 1])

2.1 Convert matrix A into numpy array
"""
# Declaring the matrix
A = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]

# converting it to np.array
A_np = np.array(A)
A_np

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [4]:
"""
Task 2: Use slicing to pull out the subarray consisting of the first 2 rows and columns 1 and 2. Store it in b which is a numpy
array of shape (2, 2).
"""
b = A_np[0:2, 0:2]
b

array([[1, 2],
       [5, 6]])

In [10]:
"""
Task 3-4: 2.3 Create an empty matrix ‘C’ with the same shape as ‘A’.
2.4 Add the vector z to each column of the matrix ‘A’ with an explicit loop and store it in ‘C’.
"""

# Create an empty matrix C with the same shape as A
C = np.zeros_like(A)
print(C)

# Defining a sample vector
z = np.array([1, 2, 3])

# Loop over each column and add vector z to it
for col in range(A_np.shape[1]):
    C[:, col] = A_np[:, col] + z

C

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

array([[ 2,  3,  4,  5],
       [ 7,  8,  9, 10],
       [12, 13, 14, 15]])

In [15]:
"""
Task 5-9
"""
# Create the following:
X = np.array([[1,2],[3,4]])
Y = np.array([[5,6],[7,8]])
v = np.array([9,10])

# Task 5: Add and print the matrices X and Y.
X_add_Y = np.add(X, Y)
print(f'X + Y = {X_add_Y}\n')

# Task 6: Multiply and print the matrices X and Y.
X_mul_Y = np.multiply(X, Y)
print(f'X x Y = {X_mul_Y}\n')

# Task 7: Compute and print the element wise square root of matrix Y.
sqrt_Y = np.sqrt(Y)
print(f'sq. root of Y = {sqrt_Y}\n')

# Task 8: Compute and print the dot product of the matrix X and vector v.
dot_prod = np.dot(X, v)
print(f'Dot product of X and v = {dot_prod}\n')

# Task 9: Compute and print the sum of each column of X.
x_sum_columns = np.sum(X, axis=0)
print(f'sum of columns of X = {x_sum_columns}\n')

X + Y = [[ 6  8]
 [10 12]]

X x Y = [[ 5 12]
 [21 32]]

sq. root of Y = [[2.23606798 2.44948974]
 [2.64575131 2.82842712]]

Dot product of X and v = [29 67]

sum of columns of X = [4 6]

## Task 3 Functions and Loops

In [19]:
"""
Task 1: Create a function ‘Compute’ that takes two arguments, distance and time, and use it to calculate velocity.
"""

def compute(distance, time):
    # from fourmula 's=vt' i.e. distance = velocity.time we get: velocity = distance/time
    velocity = distance/time
    print(f"Velocity = {velocity:.3f}")
    return

# Example run
compute(distance=100, time=60)

Velocity = 1.667

In [28]:
import functools

"""
Task 2: Make a list named ‘even_num’ that contains all even numbers up till 12. Create a function ‘mult’ that takes the list
‘even_num’ as an argument and calculates the products of all entries using a for loop.
"""

even_num = [x for x in range(1,13) if x%2 == 0]
print(f'even numbers till 12: {even_num}')

def mul(lst):
    multiple = functools.reduce(lambda x, y: x*y, lst)
    print(f'list items multiple: {multiple}')
    return

# Example run
mul(even_num)

even numbers till 12: [2, 4, 6, 8, 10, 12]
list items multiple: 46080

## Task 4 Pandas

In [45]:
import pandas as pd

""" 
Task 1: Create a Pandas dataframe named ‘pd’ that contains 5 rows and 4 columns, similar to the one given below:
C1 C2 C3 C4
1 6 7 7
2 7 9 5
3 5 8 2
5 4 6 8
5 8 5 8

Print only the first two rows of the dataframe.
"""

# Creating the dataframe
df = pd.DataFrame([[1,6,7,7], [2,7,9,5], [3,5,8,2], [5,4,6,8], [5,8,5,8]], columns=['C1', 'C2', 'C3', 'C4'])
print(df)

# Printing only first two rows of df
print('\nPrinting only first 2 rows of df')
print(df[:2])

"""
Task 2: Print the second column.
"""
print('\nPrinting first 2 columns of df')
print(df.iloc[:, 0:2])

"""
Task 3: Change the name of the third column from ‘C3’ to ‘B3’.
"""
df.rename(columns={'C3': 'B3'}, inplace=True)
print('\nPrinting renamed column df')
print(df)

"""
Task 4: Add a new column to the dataframe and name it ‘Sum’.
"""
print('\n Adding a new null column[sum] in df')
df['Sum'] = None
print(df)

"""
Task 5: Sum the entries of each row and add the result in the column ‘Sum’. 
"""
print('\nTaking Sum in sum column')
sums = df.sum(axis=1)
df['Sum'] = sums
print(df)

   C1  C2  C3  C4
0   1   6   7   7
1   2   7   9   5
2   3   5   8   2
3   5   4   6   8
4   5   8   5   8

Printing only first 2 rows of df
   C1  C2  C3  C4
0   1   6   7   7
1   2   7   9   5

Printing first 2 columns of df
   C1  C2
0   1   6
1   2   7
2   3   5
3   5   4
4   5   8

Printing renamed column df
   C1  C2  B3  C4
0   1   6   7   7
1   2   7   9   5
2   3   5   8   2
3   5   4   6   8
4   5   8   5   8

 Adding a new null column[sum] in df
   C1  C2  B3  C4   Sum
0   1   6   7   7  None
1   2   7   9   5  None
2   3   5   8   2  None
3   5   4   6   8  None
4   5   8   5   8  None

Taking Sum in sum column
   C1  C2  B3  C4 Sum
0   1   6   7   7  21
1   2   7   9   5  23
2   3   5   8   2  18
3   5   4   6   8  23
4   5   8   5   8  26

In [47]:
"""
Task 6: Read CSV file named ‘hello_sample.csv’ (the file is available in the class Google Drive shared folder) into a Pandas
dataframe.
"""

# Read the dataframe file
dataframe = pd.read_csv("./hello_sample.csv")

"""
Task 7: Print complete dataframe.
"""
print(dataframe)

    Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66

In [82]:
"""
Task 8: Print only bottom 2 records of the dataframe. 
"""
print(f'Printing last 2 rows of dataframe\n {dataframe.tail(2)}')


"""
Task 9: Print information about the dataframe. 
"""

print(f'\nPrinting dataframe info: \n')
dataframe.info()


"""
Task 10: Print shape (rows x columns) of the dataframe.
"""
print(f'\nPrinting shape of dataframe: {dataframe.shape}')

"""
Task 11: Sort the data of the dataFrame using column ‘Weight’.
"""
dataframe.sort_values(by=['Weight'])
print(f'\n Printing sorted dataframe\n{dataframe}')

"""
Task 12: Use isnull() and dropna() methods of the Pandas dataframe and see if they produce any changes.
"""
df_null = dataframe.isnull()
df_null

df_dropna = dataframe.dropna()

print(dataframe)
print(df_dropna)

Printing last 2 rows of dataframe
    Gender F_Color     B_Month  Weight
21   Male  Yellow       April      74
22   Male     Red  September       66

Printing dataframe info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Gender   23 non-null     object
 1   F_Color  23 non-null     object
 2   B_Month  23 non-null     object
 3   Weight   23 non-null     int64
dtypes: int64(1), object(3)
memory usage: 868.0+ bytes

Printing shape of dataframe: (23, 4)

 Printing sorted dataframe
    Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66
    Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66
    Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66

In [ ]:
"""
isnull() shows the null data. but it shows all False in values means there is no null data in the dataframe.
There is no difference when dropna() is called. As this function drops null data from dataframe. There was no null data in the dataframe.
So there is no difference of before and after the application of dropna function.
"""